<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main-js.js') }}"></script>
</head>
<body>
    <div id="container">
        {% include 'header.html' %}

        <!-- 배경 이미지 -->
        <div id="main-pic">
            <img src="{{ url_for('static', filename='./images/header1.jpg') }}" alt="배경사진" id="pic">
        </div>

        <section id="boardlist">
            <h2>게시판 목록</h2>
            <table>
                <thead>
                    <tr>
                        <th>글번호</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>조회수</th>
                        <th>글쓴이</th>
                    </tr>
                </thead>
                <tbody>
                    {% for board in boardlist %}
                    <tr>
                        <td class="st">{{ board[0] }}</td>
                        <td class="st"><a href="{{ url_for('detail', bno=board[0]) }}">{{ board[1] }}</a></td>
                        <td class="st">{{ board[3] }}</td>
                        <td class="st">{{ board[4] }}</td>
                        <td class="st">{{ board[5] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="btnWrite">
                <button type="button"><a href="{{ url_for('writing') }}">글작성</a></button>
            </div>
        </section>

        {% include 'footer.html' %}
    </div>
</body>
</html>