<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
        <footer>
                <ul id="bottomMenu">
                    <li><a href="#">카페 소개</a></li>
                    <li><a href="#">개인정보 처리방침</a></li>
                    <li><a href="#">이용 약관</a></li>
                    <li><a href="#">사이트맵</a></li>
                </ul>
        </footer>
    </div>
</body>
</html>