<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글수정</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main-js.js') }}"></script>
</head>
<body>
    <div id="container">
        {% include 'header.html' %}

        <!-- 배경 이미지 -->
        <div id="main-pic">
            <img src="{{ url_for('static', filename='./images/header1.jpg') }}" alt="배경사진" id="pic">
        </div>

        <section id="update">
            <h2>글수정</h2>
            <form action="" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td><input type="text" name="title" value="{{ board[1] }}"></td>
                        </tr>
                        <tr>
                            <td><textarea name="content">{{ board[2] }}</textarea></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="memberid" value="작성자: {{ board[5] }}" readonly></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="저장">
                                <input type="reset" value="취소">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </section>

        {% include 'footer.html' %}
    </div>
</body>
</html>