/* common 스타일 */
* {margin: 0;, padding: 0; box-sizing: border-box;}
#container {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* navbar 스타일 */
header {
    width: 100%;
    height: 80px;
    background: #0077cc;
}

#logo {
    float: left;
    width: 30%;
    line-height: 80px;
}

#logo h1 {
    color: #fff;
    font-size: 5vw;
    padding-left: 30px;
}

/* 주매뉴 */
header nav {
    float: right;
    width: 70%;
    height: 60px;
    margin: 10px 0;
}

#topMenu {
    height: 100%;
    padding-left: 30px;
}

#topMenu > li {
    float: left;
    position: relative;
    font-size: 1.4vw;
}

#topMenu > li > a {
    display: block;
    padding: 25px 15px;
    color: #fff;
}

#topMenu > li > a:hover {
    color: #444;
}

#topMenu > li > a > .session {
    color: #ff0;
    font-size: 0.8vw;
}

/* 부매뉴 */
#topMenu > li > ul {
    position: absolute;
    left: -12.5px;
    width: 150%;
    padding: 0;
    background: rgba(246, 248, 213, 0.6);
    text-align: center;
    display: none;
}

#topMenu > li:nth-child(2) > ul {
    position: absolute;
    left: -15px;
}

#topMenu > li:hover > ul {
    display: block;
}

#topMenu > li > ul > li {
    padding: 10px;
    border: 1px solid #ccc;
}

#topMenu > li > ul > li > a {
    color: #333;
    font-size: 1.2vw;
}

#topMenu > li > ul > li > a:hover {
    color: red;
}

/* 배경 이미지 스타일 */
#main-pic {
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

#main-pic > img {
    width: 100%;
    height: 100%;
}

/* section main 스타일 */
#main {
    margin: 20px;
}

#main > p {
    width: 100%;
    text-align: right;
    font-size: 3vw;
    margin-bottom: 30px;
}

#main > h2 {
    text-align: center;
    font-size: 5vw;
}

#main .img1 {
    width: 90%;
    margin: 30px auto 60px auto;
}

#main .img1 > img{
    width: 100%;
}

/* footer 스타일 */
footer {
    width: 100%;
    border-top: 2px solid #333;
}

#bottomMenu {
    margin-top: 20px;
    font-size: 1.2vw;
    padding-left: 20px;
}

#bottomMenu li {
    display: inline-block;
    border-right: 2px solid #ccc;
    padding: 0 20px 0 10px;
}

#bottomMenu li:last-child {
    border-right: none;
}

#bottomMenu li a {
    color: #333;
}

#bottomMenu li a:hover {
    color: red;
}

/* memberlist 스타일 */
#memberlist {
    width: 90%;
    margin: 30px auto 60px auto;
}

#memberlist table {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

#memberlist table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 10px;
    font-size: 0.8vw;
}

#memberlist th {
    background: #eee;
}

/* register 스타일 */
#register {
    width: 90%;
    margin: 30px auto;
}

#register h2 {
    width: 100%;
    margin: 0 auto;
}

#register form {
    width: 100%;
    margin: 30px auto 80px auto;
    font-size: 3vw;
}

#register form ul {
    padding: 0 20px;
}

#register form ul li {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

#register form ul li:first-child {
    margin-top: 15px;
}

#register form ul li label {
    width: 40%;
}

#register form ul li input {
    width: 60%;
    padding: 5px 0;
}

#register form ul li:nth-of-type(5) input {
    width: 30%;
}

#register form ul li:nth-of-type(5) label:first-child {
    margin-right: 30px;
}

#register form ul li:last-child {
    width: 60%;
    margin: 0 auto;
}

#register form ul li:last-child input {
    margin: 15px;
    padding: 5px 10px;
}

/* login 스타일 */
#login {
    width: 90%;
    margin: 30px auto 60px auto;
}

#login h2 {
    text-align: center;
}

#login form {
    width: 100%;
    margin: 20px auto;
    font-size: 3vw;
}

#login form ul {
    padding: 0 20px;
}

#login form ul li {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

#login form ul li:first-child {
    margin-top: 15px;
}

#login form ul li label {
    width: 40%;
}

#login form ul li input {
    width: 60%;
    padding: 5px 0;
}

#login form ul li:last-child input {
    width: 20%;
    margin: 0 auto;
}

#login .error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* boardlist 스타일 */
#boardlist {
    width: 90%;
    margin: 30px auto 60px auto;
}

#boardlist table {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

#boardlist table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 10px;
    font-size: 0.8vw;
}

#boardlist th {
    background: #eee;
}

#boardlist .btnWrite {
    text-align: right;
}

#boardlist .btnWrite button {
    padding: 3px 10px;
}

/* media screen */
@media screen and (min-width: 360px) {
    #register {
        width: 90%;
    }

    #login {
        width: 90%;
    }
}

/* 태블릿 기준 */
@media screen and (min-width: 760px) {
    #topMenu > li {
        font-size: 1.8vw;
    }

    #topMenu > li > a {
        padding: 20px 40px;
    }

    #topMenu > li > a > .session {
        font-size: 1.4vw;
    }

    #topMenu > li > ul {
        position: absolute;
        left: 0;
        width: 100%;
    }

    #topMenu > li:nth-child(2) > ul {
        position: absolute;
        left: 0;
    }

    #topMenu > li > ul > li > a {
        font-size: 1.6vw;
    }

    #main-pic {
        height: 250px;
    }

    #main .img1 {
        width: 80%;
    }

    #register h2 {
        width: 90%;
    }

    #register form {
        width: 90%;
    }

    #login form {
        width: 90%;
    }

    #memberlist table, th, td {
        font-size: 1.3vw;
    }

    #boardlist table, th, td {
        font-size: 1.3vw;
    }
}

/* PC 기준 */
@media screen and (min-width: 1024px) {
    #logo h1 {
        font-size: 3vw;
    }

    #topMenu > li {
        font-size: 1.4vw;
    }

    #topMenu > li > a > .session {
        font-size: 1.2vw;
    }

    #topMenu > li > ul > li > a {
        font-size: 1.2vw;
    }

    #topMenu > li > ul {
        position: absolute;
        width: 100%;
    }

    #main > h2 {
        font-size: 3vw;
    }

    #main > p {
        font-size: 2vw;
    }

    #main .img1 {
        width: 60%;
    }

    #register h2 {
        width: 70%;
    }

    #register form {
        width: 70%;
    }

    #login form {
        width: 70%;
    }

    #memberlist {
        width: 70%;
    }
}

@media screen and (min-width: 1320px) {
    #topMenu > li {
        font-size: 1.2vw;
    }

    #topMenu > li > a > .session {
        font-size: 1vw;
    }

    #topMenu > li > ul > li > a {
        font-size: 1vw;
    }

    #main > h2 {
        font-size: 2vw;
    }

    #main > p {
        font-size: 1.5vw;
    }

    #main .img1 {
        width: 50%;
    }

    #register > h2 {
        width: 45%;
    }

    #register form {
        width: 45%;
        font-size: 1.5vw;
    }

    #login form {
        width: 45%;
        font-size: 1.5vw;
    }

    #memberlist {
        width: 50%;
    }
}