#container{
    width: 350px;
    height: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid rgb(59, 59, 241);
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}
ul{
    padding: 10px 0 10px 20px;
}
span{
    color: red;
    font-weight: bold;
}
ul li{
    margin: 0;
    padding: 10px;
    list-style: "-";
    font-size: 0.9em;
}
p{
    padding-left: 10px;
}
a{
    color: #222;
    text-decoration: none;
    position: absolute;
    bottom: 35px;
    right: 40px;
}
a:hover{
    color: rgb(115, 148, 207);
    text-decoration: underline;
}