@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');

*{margin: 0; font-family: 'Gowun Batang', serif;}

#container {
	width: 70%;
	margin: 30px auto;
	text-align: center;
}

#container h2 {
	font-size: 1.5vw;
	margin: 20px auto;
}

#container img {
	border-radius: 10px;
	margin: 20px auto;
}

/* header 스타일 */
header {
	width: 80%;
	height: 100px;
	margin: 0 auto;
	background: #f4aaaa;
	border-radius: 15px;
}

header a {
	text-decoration: none;
	color: black;
}

header h2 {
	font-family: sans-serif;
}

header nav #headerMenu {
	display: flex;
	justify-content: space-around;
	padding: 0;
}

header nav #headerMenu li:first-of-type {
	width: 15%;
	margin: 25px;
	font-size: 1.3vw;
}

header nav #headerMenu li {
	margin: 38px auto;
	list-style: none;
	font-size: 1vw;
}


/* memberList, boardList 스타일 */
#container #tbl_list, #container #brd_list {
	width: 60%;
	margin: 40px auto;
}

#container #tbl_list, #tbl_list th, #tbl_list td,
#brd_list, #brd_list th, #brd_list td {
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: 10px 20px;
}

#container #tbl_list thead,
#brd_list thead {
	background: #eee;
	font-size: 1.1vw;
}

#container #tbl_list tbody,
#brd_list tbody {
	font-size: 0.9vw;
}

#board_btn {
	width: 60%;
	margin: 0 auto;
	text-align: right;
}

#board_btn input {
	padding: 5px 10px;
}

/* memberForm, memberUpdate, loginForm, board_write, board_update 스타일 */
#register, #update, #loginForm, #board_write, #board_update {
	width: 60%;
	margin: 40px auto;
}

#register form fieldset ul, 
#update form fieldset ul,
#loginForm form fieldset ul,
#board_write form fieldset ul,
#board_update ul {
	padding: 0;
	font-size: 1.2vw;
}

#register form fieldset ul li, 
#update form fieldset ul li,
#loginForm form fieldset ul li,
#board_write form fieldset ul li,
#board_update ul li {
	display: flex;
	justify-content: space-between;
	margin: 70px 40px;
	list-style: none;
}

#register form fieldset ul li input, 
#update form fieldset ul li input,
#loginForm form fieldset ul li input,
#board_write form fieldset ul li input, 
#board_write form fieldset ul li textarea,
#board_update ul li input, 
#board_update ul li textarea {
	width: 70%;
}

#register form fieldset ul li .la1, 
#update form fieldset ul li .la1 {
	width: 42%;
}

#register form fieldset ul li .la1 input, 
#update form fieldset ul li .la1 input {
	width: 30%;
	height: 18px;
}

#register .button input, 
#update .button input, 
#loginForm .button input,
#board_write .button input,
#board_update .button input {
	margin: 20px 7px;
	padding: 5px 10px;
	font-size: 1.1vw;
}

/* memberView, boardView 스타일 */
#memberView, #boardView {
	width: 60%;
	margin: 50px auto;
}

#memberView ul, #boardView ul {
	width: 60%;
	margin: 20px auto;
	padding: 0;
}

#memberView ul li,
#boardView ul li {
	margin: 25px auto;
	list-style: none;
	display: flex;
	justify-content: space-between;
	font-size: 1.1vw;
}

#memberView ul li input,
#boardView ul li input,
#boardView ul li textarea {
	width: 70%;
}

#memberView ul li label,
#boardView ul li label {
	width: 45%;
	font-size: 0.9vw;
}

#memberView ul li label:last-of-type {
	text-align: left;
}

#memberView ul li label input {
	width: 30%;
}

#memberView ul #btn,
#boardView ul #btn {
	display: flex;
	justify-content: center;
}

#memberView ul #btn a,
#boardView ul #btn a {
	width: 20%;
	padding: 5px 10px;
}

/* footer 스타일 */
footer {
	width: 80%;
	margin: 30px auto;
	padding-top: 10px;
	border-top: 2px solid #ccc;
}

footer a {
	text-decoration: none;
	color: black;
}

footer #bottomMenu {
	display: flex;
}

footer #bottomMenu li {
	margin: 0 20px;
	list-style: none;
	padding-right: 40px;
	border-right: 1px solid black;
}

footer #bottomMenu li:last-of-type {
	border-right: 0;
}