#container{
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}
h1{
    padding-left: 20px;
}
fieldset{
    width: 80%;
    margin: 20px auto;
    padding: 30px 10px;
}
ul{
    width: 60%;
    margin: 10px auto;
    padding-left: 20px;
}
ul li{
    color: #222;
    list-style: none;
    line-height: 2;
}
ul li label{
    margin-right: 10px;
}
label{
    padding: 10px 5px;
}
label .reg{
    float: left;
}
p{
    margin-top: 5px;
}