#container{
    width: 460px;
    margin: 30px auto;
}
h2{
    padding-left: 30px;
}
form{
    border: 1px solid #ccc;
    padding: 10px;
}
ul li{
    list-style: none;
    padding: 20px 20px 20px 0;
}
.field{
    width: 120px;
    float: left;
}
input[type = "text"], [type = "email"], [type = "password"]{
    width: 230px;
    padding: 5px;
}
.button{
    padding: 5px 10px;
}
input[type = "submit"]{
    margin-left: 210px;
}
input[type = "button"]{
    margin-left: 210px;
}
